<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecut.dao.StudentMapper">

    <insert id="addStudent" parameterType="Student">
        insert into student(student_id,student_name,student_gender,student_password,
                            student_phone,student_class_id,student_email,
                            student_address)
                            values (#{studentId},#{studentName},#{studentGender},#{studentPassword},#{studentPhone},#{studentClassId},
                            #{studentEmail},#{studentAddress})
    </insert>

    <delete id="deleteStudentById" parameterType="string">
        delete from student where student_id=#{studentId}
    </delete>

    <update id="updateStudent" parameterType="Student">
        update student set student_name=#{studentName},student_gender=#{studentGender},
                           student_phone=#{studentPhone},student_class_id=#{studentClassId},student_email=#{studentEmail},
                           student_address=#{studentAddress} where student_id=#{studentId}
    </update>


    <select id="findByPage" parameterType="map" resultType="Student">
        select * from student
        limit #{start},#{size}
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from student
    </select>
    <select id="selectCountByClassId" resultType="int" parameterType="string">
        select count(*) from student where student_class_id=#{classId}
    </select>

    <select id="selectForStudent" resultType="Student" parameterType="StudentSmall">
        select * from student
        <where>
            <if test="studentName!=null and studentName!=''">
                student_name=#{studentName}
            </if>
            <if test="studentClassId!=null and studentClassId!=''">
                and student_class_id=#{studentClassId}
            </if>

        </where>
    </select>
</mapper>